@import '../core/variables';
@import '../core/mixins';

.container {
  background-color: $color-medium-light;
  text-align: center;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logoBox {
    padding-top: 96px;
    background-image: url(../../images/logo_kardma.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px;
    width: 350px;

    @include tablet {
      height: 220px;
      width: 450px;
      margin-top: 280px;
    }
  }

  &__title {
    font-family: $font-terciary;
    color: $color-secondary-dark;
    font-size: 19px;
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 4px;

    @include tablet {
      margin-top: 31px;
      font-size: 24px;
    }
  }
  &__subtitle {
    font-family: $font-primary;
    color: $color-primary-medium;
    font-size: 13px;
    font-weight: 400;
    text-align: center;

    @include tablet {
      font-size: 16px;
    }

    & span {
      display: block;
    }
  }

  &__articlesBox {
    border: solid 1px rgba($color-secondary-dark, 0.2);
    border-radius: 4px;
    width: 268px;
    height: 74px;
    padding: 15px 10px 20px 20px;
    color: $color-secondary-dark;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    margin: 18px 0 39px 0;

    @include tablet {
      margin: 27px 0 186px 0;
      width: 325px;
      height: 86px;
    }

    .step1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        transform: scale(1.25);
        cursor: default;
      }
      .fa-object-ungroup {
        font-size: 23px;

        @include tablet {
          font-size: 28px;
        }
      }
      .articleTitle {
        font-family: $font-primary;
        color: $color-dark-medium;
        font-size: 13px;
        font-weight: 400;
        text-transform: capitalize;
        padding: 2px 0 5px 0;

        @include tablet {
          font-size: 16px;
        }
      }
    }
    .step2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        transform: scale(1.25);
        cursor: default;
      }
      .fa-keyboard {
        font-size: 23px;

        @include tablet {
          font-size: 28px;
        }
      }
      .articleTitle {
        font-family: $font-primary;
        color: $color-dark-medium;
        font-size: 13px;
        font-weight: 400;
        text-transform: capitalize;
        padding: 2px 0 5px 0;

        @include tablet {
          font-size: 16px;
        }
      }
    }
    .step3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        transform: scale(1.25);
        cursor: default;
      }
      .fa-share-alt {
        font-size: 23px;

        @include tablet {
          font-size: 28px;
        }
      }
      .articleTitle {
        font-family: $font-primary;
        color: $color-dark-medium;
        font-size: 13px;
        font-weight: 400;
        text-transform: capitalize;
        padding: 2px 0 5px 0;

        @include tablet {
          font-size: 16px;
        }
      }
    }
  }
  &__btn {
    height: 42px;
    width: 129px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $color-primary-medium;
    border-radius: 21px;
    color: $color-light;
    font-size: 16px;
    font-family: $font-primary;
    text-transform: uppercase;
    padding: 10px 20px;
    @include tablet {
      margin-bottom: 200px;
    }

    &:hover {
      transition: background-color ease 0.5s;
      background-color: $color-primary-light;
    }
  }
}
