@import "./core/variables";
@import "./core/mixins";

.wrapper {
  max-width: 688px;
  margin: auto;

  @include desktop {
    max-width: 944px;
  }
}

.preview .wrapper {
  max-width: 240px;
  margin: auto;
}

.main__grid {
  background-image: linear-gradient(
    to bottom,
    $color-medium-light,
    $color-light
  );

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    padding: 22px 40px;
  }

  @include desktop {
    grid-template-columns: 40% 60%;
  }
}

.landing {
  height: 100vh;
}
