//COLORS
$color-dark: #000000;
$color-medium: #6b6b6b;
$color-dark-medium: #54585a; //NEW VARIABLE CREATD BY AMANDA
$color-light: #ffffff;
$color-medium-light: #f5f5f5; //NEW VARIABLE CREATD BY AMANDA
$color-medium-extralight: #d8d8d8;
$color-secondary-dark: #e17334;
$color-secondary-light: #f9f4dc;
$color-form-placeholder: #c5c5c5;
$color-twitter-blue: #00a0f5;

//PALETTES
$color-primary-dark: #114e4e;
$color-primary-medium: #438792;
$color-primary-light: #a2deaf;

$color-red-dark: #420101;
$color-red-normal: #bd1010;
$color-red-light: #e95626;

$color-mix-dark: #3e5b65;
$color-mix-normal: #eab052;
$color-mix-light: #a0c0cf;

//FONTS
$font-primary: 'Open Sans', sans-serif;
$font-weight-semibold: 600;
$font-secondary: 'Montserrat', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-terciary: 'Merriweather', serif;

// breakpoints
$tablet: 768px;
$desktop: 1024px;
